.cart_container {
  /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */

  left: 25%;
  top: 25%;
  width: 50%; /* Full width */
  height: 50%; /* Full height */
  padding: 0px 30px;
  background-color: white;
  box-shadow: 3px 3px 15px 10px rgba(0, 0, 0, 0.424);
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.table > table {
  width: 100%;
}

td,
th {
  border: 1px solid black;
  padding: 8px;
}

.cartClosebtn {
  cursor: pointer;

  width: 70px;
  height: 40px;
  padding: 3px;
  font-size: medium;
  border-radius: 50px;
  border: none;
  background-color: gold;
}
